/* body{
    /* background: linear-gradient(to right, #22B275, #2d9184, #277F93, #1B1464); 
    background-color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.form_login{
    align-items: center;
    position: relative;
    margin: 1rem auto !important;
    padding: 0;
    background-color: #0c162c;
    max-width: 24rem;
    max-height: 40rem;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 
    0px 0px 10px rgba(0, 0, 0, 0.2), 
    0px 0px 15px rgba(0, 0, 0, 0.3);
}
img{
    margin:0;
    padding:0;
    max-height: 50rem;
    max-width: 24rem;
    margin-bottom: -9rem;
}
.form_login .content input{
    border-radius: 0.6rem;
    border-width: 0.1rem;
    border-color: grey;
    margin: 0.85rem;
    padding: 0.5rem;
    right: -1.8rem;
    align-items: center;
    position: relative;
    color: #fff;
    background-color: #0c162c;
}
.form_login .content input:focus{
    border-color: orange;
}
.content h3{
    margin-top: 2vh;
    margin-right: 20vh;
    font-size: 25px;
    top: -50vh;
    /* border-bottom: 5px solid red; */
}
.content span{
    border-bottom: 1px solid black; /* change black to your desired border color */
    display: inline-block; /* this is*/
}
.content hr{
    size: 2px;
    border-radius: 5px;
}
.content{
    margin: 2vh 2vh;
    align-items: center;
    display:inline-flexbox;
    position: relative;
}
.content .font{
    position: absolute;
    font-size: 35px;
    top: -9rem;
    right: -7rem;
    left: auto;
    color: aliceblue;
    font-weight: 600;
}
.content .font2{
    margin-top: -2rem;
    /* margin: 0.5rem; */
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: orange;
    text-underline-offset: 5px;
    text-underline-position: below;
    right: 25vh;
    left: auto;
    color: white;
    font-weight: 400;
}
.content .btn{
    font-size: 16px;
    transition: ease-in all 0.5s;
    background-color: gray;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 0px;
    border-radius: 2px;
    display: block;
    margin-top: 2.2rem;
    margin-bottom: 0.5rem;
    align-items: center;
    margin-left: 6.5rem;
    width: 100%;
    max-width: 10rem;
}
.content .btn:hover{
    background-color: #fe572f;
    transition: ease-in all 0.5s;
    color: #fff;
    border-radius: 26px;
}
.form_login .content h6{
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 15px;
}