.card{
    width: 90vh;
    height: 20vh;
    margin: 20vh auto;
    padding: 5vh;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 
    0px 0px 10px rgba(0, 0, 0, 0.2), 
    0px 0px 15px rgba(0, 0, 0, 0.3);
}
.card__img{
    float: left;
    width: 100px;
    height: 100px;
    margin: 15px;
    align-items: center;
}
.card h3{
    height: 30px;
    margin: 40px;
    display: inline;
}
.card h6{
    margin-left: 170px;
    margin-right: 20px;
    margin-bottom: 120px;
}