.btn .btnName {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: gray;
    text-transform: uppercase;
    color: #fff;
    padding: 13px 0px;
    /* float: right; */
    display: block;
    margin-top: 30px;
    align-items: center;
    margin-right: 20vh;
    width: 100%;
    max-width: 190px;
}

.btn .btnName:hover {
    background-color: #fe572f;
    transition: ease-in all 0.5s;
    color: #fff;
    border-radius: 26px;
}